- const commitString = `${name} has made ${day[0]['data-count']} commits on ${day[0]['data-date']}`

doctype html

html
	head
		title GitHub Commit Data
		link(rel='stylesheet', href='css/main.css')
	body
		h1 Pug Layout getting closer now
		p= commitString
