extends includes/layout.pug

block content
	h1 Contact Us
	form(method='POST')
		.form-group
			label(for="exampleInputEmail1") Email
			input(type="email", name="email" class="form-control", id="exampleInputEmail1", placeholder="Email:")
		.form-group
			label(for="exampleInputName") Name
			input(type="text", name="name", class="form-control", id="exampleInputName", placeholder="Name:")
		.form-group
			label(for="exampleInputPassword1") Phone
			input(type="tel", name="tel" class="form-control", id="exampleInputPassword1", placeholder="Phone:")
		.form-group
			label(for="message") Message
			textarea.form-control(name="message", id="message", placeholder="Message:")
		.button-group
			button(class="btn btn-danger") Cancel
			button(type="submit", class="btn btn-success") Submit
			  







