extends includes/layout.pug

block content
	.container
		.row
			.col-xs-12
				img(src="https://pbs.twimg.com/profile_images/378800000115577356/257e71dee1e08ec51b5eda1d23632245_400x400.png")
		.row
			.col-xs-12
				h1 Welcome to my pizza store you filthy animals!

